In [2]:
print('hello world')
print('another line')

hello world
another line

In [3]:
1 + 1

2

## This next section we will be doing more print command stuff

In [4]:
print(1+1)

2

In [5]:
print('1+1')

1+1

#### print(1+1) is a function, whereas print ('1+1') prints the string

In [6]:
print('hello world')

hello world

In [7]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

help() function is like the manual from wsl

variables are placeholders for storing data values
wow

In [8]:
x = 1 + 1
text = 'hello world'

In [9]:
x

2

In [10]:
text

'hello world'

In [12]:
a, b, c = 1, 2, 3

In [14]:
x = y = z = 10

In [15]:
a + b

3

In [16]:
'hello' + x

TypeError: can only concatenate str (not "int") to str

we cannot combine variables of two types = stri and integer

In [17]:
'a' + 'b'

'ab'

In [18]:
type(x)

int

In [19]:
x = 'some text'
type(x)

str

error messages are important - tells us which line our problem is, and tells us something about the type of error

In [20]:
x = 1 + 1:

SyntaxError: invalid syntax (2065419873.py, line 1)

syntax error, like an language error

In [21]:
print(myVar)

NameError: name 'myVar' is not defined

myVar does not exist, we have not defined this yet. Most of our errors will be name errors

In [22]:
del(x)

del removes variables

In [23]:
print(x)

NameError: name 'x' is not defined

In [24]:
pwd

'C:\\Users\\thomh\\anaconda_projects\\1f070020-b100-4e5a-bb22-5c73d8ac0f37'

In [25]:
myInt = 111

In [26]:
myString = '111'

In [27]:
len(myString)

3

multiple elements within myString, each character is the value of 1

In [29]:
newString = "hello world"
len(newString)

11

every value in that string has what's called an index, you can select a specific element of that variable using the [] characters
- referred to as "string slicing"
- REMEMBER! everything starts with 0, not 1

In [37]:
newString[0]

'h'

you can also specify a range of values seperated by a ":"

In [38]:
newString[1:5]

'ello'

In [39]:
newString[1:9:2]

'el o'

In [40]:
newString[-1:2:-2]

'drwo'

#### Exercise 1:

In [42]:
newString[0:5]

'hello'

In [44]:
newString[6:11]

'world'

In [75]:
newString[-1:-12:-1]

'dlrow olleh'

start at the last index, to the end of the range of values, step by -1

#### Lists

In [77]:
drinks = ["whiskey", "vodka", "lager", "cider"]

lists are:
- ordered: they have a defined order that will not change. New items are added to the end of the list (w/ some exceptions)
- changeable: we can change, add and remove items from the list

In [78]:
drinks[1]

'vodka'

In [84]:
drinks[3] = "tequila"

drinks[3]

'tequila'

In [88]:
drinks[1] = 111
drinks[1]

111

In [91]:
type(drinks)

list

In [94]:
shots = drinks[0]
print(shots)

whiskey

In [95]:
drinks[2:4]

['lager', 'tequila']

In [98]:
drinks.append["wine"]
drinks

['whiskey', 111, 'lager', 'tequila', 'wine', 'wine']

In [99]:
newDrinks = ["beer", "water"]

In [100]:
drinks.extend(newDrinks)

In [101]:
drinks

['whiskey', 111, 'lager', 'tequila', 'wine', 'wine', 'beer', 'water']

In [105]:
drinks.insert[3, "ice tea"]

In [107]:
drinks

['whiskey',
 111,
 'lager',
 'ice tea',
 'ice tea',
 'ice tea',
 'tequila',
 'wine',
 'wine',
 'beer',
 'water']

#### tuple
- ordered and unchangeable and is defined by using round breckets
- myType = ()
#### set
- is unordered, unchangeable, and unindexed,and is defined using curly brackets. Sets cannot have repeat values
- mySet = {}
#### dictionary
- stores data values in key:value pairs. It is ordered, chengeable, and does not allow supplicates
- patientInfo = {"age": 48,
                  "gender": male}

### If Statements (conditional statements)

Boolean Values
- expressed via operators:
- comparison operators ==, !=, >, <, <=, >=

In [108]:
x, y = 1, 2

In [109]:
x == y

False

In [110]:
x != y

True

In [111]:
x >= y

False

In [112]:
y = '2'

x == y

False

In [113]:
y = 2

In [114]:
x != y and x > y

False

In [115]:
x != y or x > y

True

In [116]:
x != y and bool(1)

True

bool value will return true True if it has a value that isn't 0 or empty

### Let's break down an if statement

In [117]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

only 1 if statement, as many elif as we want, and only 1 else statement

### match & case

In [ ]:
day = 4
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")

In [118]:
!touch tmp.txt

'touch' is not recognized as an internal or external command,
operable program or batch file.

### Exercise 2:

In [134]:
name = input("Enter your name: ")

Enter your name:  Thomas

In [122]:
name

'Hannah'

In [123]:
len(name)

6

In [140]:
if name == "Hannah":
    area = "BCN"
else:
    nameLen = len(name)
    if nameLen <=4:
        area = "SP"
    elif nameLen > 4 and nameLen <= 7:
        area = "LD"
    else: 
        area = "BCN"
print("Your area is: " + area)

Your area is: LD